:local(.graph) .tick {
  color: white;
  fill: white;
  stroke: white;
  font-size: 20px;
}

.rd3-legend-item span {
  background-color: white;
  font-size: 2em;
}

.rd3-legend {
  transform: scale(2);
}

.rd3-barchart-yaxis .tick {
  color: white;
  fill: white;
  stroke: white;
  font-size: 15px;
}
