:local(.imageHolder) {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

:local(.note) {
  composes: edit note from "./text.css";
  font-size: 2em;
}
