{
  "env": {
    "browser": true
  },
  "globals": {
    "require": true,
    "module": true,
    "$": false
  },
  rules: {
    "quotes": "single",
    "new-cap": 0,
    "no-comma-dangle": 0,
    "global-strict": 0,
    "strict": [2, "global"],
    "no-underscore-dangle": 0,
    "max-depth": [2, 4],
    "max-params": [2, 4],
    "complexity": [2, 15],
    "max-nested-callbacks": [2, 3]
  }
}
