<!DOCTYPE html>
<html>
<head>
  <title>blackwidow</title>
  <meta charset='utf-8'>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="./css/main.css" />
  <script type="text/javascript" src="./js/core.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
  <script type="text/javascript" src="./js/cast.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="dash"></div>
  </div>
  <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>
