<!DOCTYPE html>
<html>
<head>
    <title>blackwidow</title>
    <style>
        body {
            overflow:hidden;
            background-color: #000;
        }
    </style>
    <script type="text/javascript" src="/js/core.js"></script>
    <script type="text/javascript" src="//www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script type="text/javascript" src="/js/castInit.js"></script>
</head>
<body>
    <div id="redText" style="font-size: 38px; margin: 200px 200px; color: red">hello</div>
    <script type="text/javascript" src="/js/cast.js"></script>
</body>
</html>
