:local(.wrapper) {
  font-size: 2em;
  width: 80vw;
  color: black;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 10vw;
  box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.8);
  border-radius: 5px 5px 0 0;
  padding: 0.5em;

  transform: translateY(110%);
  transition: transform 0.8s;
}

:local(.wrapper.visible) {
  transform: translateY(0);
  transition: transform 0.25s;
}

:local(.ws) {
  color: red;
}

:local(.ws.connected) {
  color: green;
}
