:local(.wrapper) {
  position: absolute;
  font-size: 2em;
  width: 90vw;
  color: black;
  background-color: white;
  margin: 0 5vw 0;
  box-shadow: 0 0 20px -5px black;
  border-radius: 2px 2px 0 0;
  padding: 0.5em;

  min-height: 50vh;
  margin-top: 100vh;
  transition: margin-top 0.4s;

  z-index: 100;
}

:local(.wrapper.opened) {
  margin-top: 48vh;
  transition: margin-top 0.5s 0.2s;
}

:local(.content) {
  margin-top: 0.5em;
}

:local(.ws) {
  color: red;
}

:local(.ws.connected) {
  color: green;
}
